<!doctype html>
<% if(isHome) { %>
<html dir="ltr" lang="en-US" class="no-js home">
<% } else { %>
<html dir="ltr" lang="en-US" class="no-js">
<% } %>     

    <%- include('common/head') -%>
    <% if(pageName === 'home') { %>
    <body class="observation" data-home data-video-source="media/seti_bg_cover">
    <% } else { %>
    <body>
    <% } %>
        <%- include('common/header') -%>
        <main class="page" data-page>
            <%- body %>
        </main>
        <% if(isHome) { %>
            <%- include('aladin/progress') -%>
        <% } %>
        <% if(spaceBg) { %>
            <%- include('common/space') -%>
        <% } %>

        <%- include('common/mobilenav') -%>
        <% if(pageName === 'home') { %>
            <%- include('common/handlebars-templates') -%>
        <% } %>
        <%- include('common/bottom-scripts') -%>
    </body>
</html> 